.home {
  //   min-height: 100vh;
  //   height: auto;
  color: #333;
  width: 100%;
  border: 1px solid red;

  &-search {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    input {
      padding: 0.7rem;
      border: 1px solid #333;
      max-width: 16rem;
      font-size: 1.1rem;
      border-radius: 0.8rem;
      margin: 1rem;
    }

    button {
      font-size: 0.9rem;
      border: 1px solid lightgreen;
      padding: 0.5rem;
      color: lightgreen;
      background-color: #333;
      border-radius: 0.5rem;
    }
  }
}
